

@{
    ViewBag.Title = "Index";
    int SR = 0;
}
<section>
    <div class="card mt-2">
        <section class="card-body">
            <h5 class="card-title">Categories</h5>
            <div class="formtabl">
                @Html.Action("IndexPartial", "Category_Details", new { area = "Inventory" })
            </div>
            <section class="btns d-none">
                <button class="btnSubmit btn btn-primary">Save</button>
                <button class="btnCancel btn btn-danger">Cancel</button>
                <label class="text-danger"></label>
            </section>
        </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var Id=0;
    $(document).on('click', '.btnadd', function () {
        $.get('/Inventory/Category_Details/CreatePartial', function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    });
    $(document).on('click', '.btnEdit', function () {
        debugger
        var id = $(this).attr('Id');
        Id = id;
        $.get('/Inventory/Category_Details/CreatePartial?id=' + id, function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    })
    $(document).on('click', '.btnCancel', function () {
        $.get('/Inventory/Category_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
            $('.btns').addClass('d-none');
            Id = 0;
        });
    })
    $(document).on('click', '.btnSubmit', function () {
        $('tbody').empty();
        var name = $('input[name="Name"]').val();
        $('label.text-danger').empty();
        if (name == "") {
            $('label.text-danger').append('Please Enter Name');
            return false;
        }
        $.post('/Inventory/Category_Details/Add', { name, Id},
            function (data, status) {
                Swal.fire(
                    'Suceed!',
                    data,
                    'success'
                )
                LoadProjects();
                $('input[name="Name"]').val('');
                $('input[name="Description"]').val('');
            });
    });
    function LoadProjects() {
        $.get('/Inventory/Category_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
            $('.btns').addClass('d-none');
        });
    }
    $(document).on('click', '.btndelete', function () {
        var id = $(this).attr('Id');
        Id = id;
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this category &  related data will also!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                $.get('/Inventory/Category_Details/Delete?id=' + id, function (response) {
                    LoadProjects();
                })
            } else {
                Swal.fire(
                    'Cancelled',
                    'Category is active :)',
                    'error'
                )
            }
        });
    });
</script>