
@{
    ViewBag.Title = "Index";
}

<section>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Customer</h5>

            <div class="formtabl">
                @Html.Action("IndexPartial", "Customer_Details", new { area = "Inventory" })
            </div>
            <section class="btns d-none">
                <button class="btnSubmit btn btn-primary">Save</button>
                <button class="btnCancel btn btn-danger">Cancel</button>
                <label class="text-danger"></label>
            </section>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>
    var Id = 0;
    $(document).on('click', '.btnadd', function () {
        debugger
        $.get('/Inventory/Customer_Details/CreatePartial', function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    });
    $(document).on('click', '.btnSubmit', function () {
        $('tbody').empty();
        var name = $('input[name="Name"]').val();
        var email = $('input[name="Email"]').val();
        var mobile = $('input[name="Mobile"]').val();
        var address = $('input[name="Address"]').val();

        $('label.text-danger').empty();
        if (name == "") {
            $('label.text-danger').append('Please Enter Your Name');
            return false;
        }
        if (email == "") {
            $('label.text-danger').append('Please Enter Your Email');
            return false;
        }
        if (mobile == "") {
            $('label.text-danger').append('Please Enter Your Mobile NO');
            return false;
        }
        if (address == "") {
            $('label.text-danger').append('Please Enter Your Address');
            return false;
        }

        $.post('/Inventory/Customer_Details/Add', { name, email, mobile, address, Id },
            function (data, status) {
                Swal.fire(
                    'Suceed!',
                    data,
                    'success'
                )
                Id = 0;
                LoadProjects();
               
                $('input[name="Name"]').val('');
                $('input[name="Email"]').val('');
                $('input[name="Mobile"]').val('');
                $('input[name="Address"]').val('');
                $('#basicExampleModal').modal('toggle');
            });

    });
    function LoadProjects() {
        $.get('/Inventory/Customer_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
            $('.btns').addClass('d-none');
        });
    }
    $(document).on('click', '.btnEdit', function () {
        debugger
        var id = $(this).attr('Id');
        Id = id;
        $.get('/Inventory/Customer_Details/CreatePartial?id=' + id, function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);


        });
    })
    $(document).on('click', '.btnCancel', function () {
        $.get('/Inventory/Customer_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
            $('.btns').addClass('d-none');
            Id = 0;
        });
    })
    $(document).on('click', '.btndelete', function () {
        var id = $(this).attr('Id');
        Id = id;
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this supplier & related data will also!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {
                $.get('/Inventory/Customer_Details/Delete?id=' + id, function (response) {
                    LoadProjects();
                    Id = 0;
                })
            } else {
                Swal.fire(
                    'Cancelled',
                    'Unit is active :)',
                    'error'
                )
            }
        });
    });
</script>

















