@model IEnumerable<AmeenTraning.Models.Customer_Details>

@{
    ViewBag.Title = "Index";
    int Sr = 0;
}
<section>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <table class="table">
                <tr>
                    <th>
                      SR
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                      Mobile
                    </th>
                    <th>
                        Address
                    </th>
                    <th><a href="/Inventory/Customer_Details/Create" class="btn btn-info">Add</a></th>
                </tr>

                @foreach (var item in Model)
                {
                    Sr++;
                    <tr>
                        <td>
                            @Sr
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            <a href="/Inventory/Customer_Details/Edit/@item.Customer_Id" class="btn btn-warning">Edit</a>
                            <a href="/Inventory/Customer_Details/Details/@item.Customer_Id" class="btn btn-secondary">Details</a>
                            <a href="/Inventory/Customer_Details/Delete/@item.Customer_Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>