

@{
    ViewBag.Title = "Index";
    
}

<section>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Units</h5>

            <div class="formtabl">
                @Html.Action("IndexPartial", "Units_Details", new { area = "Inventory" })
            </div>
            <section class="btns d-none">
                <button class="btnSubmit btn btn-primary">Save</button>
                <button class="btnCancel btn btn-danger">Cancel</button>

            </section>
         

        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    //$(document).ready(function () {
    //    alert("ready!");
    //});
    var Id = 0;
    $(document).on('click', '.btnadd', function () {
        $.get('/Inventory/Units_Details/CreatePartial', function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    });
    $(document).on('click', '.btnSubmit', function () {

        $('tbody').empty();
        var name = $('input[name="Name"]').val();

        $('label.text-danger').empty();
        if (name == "") {
            $('label.text-danger').append('Please Enter Your Name');
            return false;
        }
       
        $.post('/Inventory/Units_Details/Add', { name, Id},
            function (data, status) {
                alert(data);
                LoadProjects();
                $('input[name="Name"]').val('');
                $('input[name="Description"]').val('');
            });

    });
    $(document).on('click', '.btnEdit', function () {
        debugger
        var id = $(this).attr('Id');
        Id = id;
        $.get('/Inventory/Units_Details/CreatePartial?id=' + id, function (response) {
            $('.btns').removeClass('d-none');
            $('.formtabl').empty();
            $('.formtabl').append(response);
        });
    })
    function LoadProjects() {
        $.get('/Inventory/Units_Details/IndexPartial', function (response) {
            $('.formtabl').empty();
            $('.formtabl').append(response);
            $('.btns').addClass('d-none');
        });
    }

</script>









